<footer id="footer">
  <div class="container">
  &copy; <?php echo date('Y'); ?> <a href=""><?php bloginfo('name'); ?></a>.
  由 Wordpress 强力驱动. '               
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253503132'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1253503132' type='text/javascript'%3E%3C/script%3E"));</script>
  <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=koala@koalaxiaot.me" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_01.png" style="vertical-align:middle"/></a>
  </div>
</footer>
